body {
	-webkit-user-select: none;
}

.open-file-container {
	width: 250px;
}

table.app-fixed {
    table-layout: fixed;
}

.app-fixed th,
.app-fixed td {
    overflow: hidden;
}

td {
	/*-webkit-user-select: auto;*/
}

.app-column-id {
	width: 15px;
}

.app-group-tree>ul {
	padding: 0;
}

.uk-nav-sub>li>a {
	padding: 3px 5px;
}

.uk-nav-sub>li>a>i {
	line-height: 20px;
	padding: 0 3px;
}

.uk-nav-side ul>.uk-active>a:hover {
   color: #fff;
}

.uk-nav-side ul a:hover {
   color: #07d;
}
